<div class="jumbotron">
	<% if @app.errors.any? %>
		<div id="error_messages">
			<h2>There were some errors in the form:</h2>

			<ul>
				<% @app.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div id="login">
		<%= form_for @app do |f| %>

			<p><%= f.label :email %></p>
			<p><%= f.email_field :contact_mail %></p>

			<p><%= f.submit :Register %></p>

		<% end %>
	</div>
</div>